            </main>

            <footer class="flex h-[500px] w-screen flex-col items-center justify-center">
                <div class="w-[1400px]">
                    <div class="w-full flex flex-row items-center justify-between py-6 border-zinc-200">
                        <div class="flex flex-row items-center gap-x-5">
                            <i class="fa-brands fa-airbnb font-bold text-4xl text-cor-primaria"></i>
                            <span class="text-4xl font-bold text-cor-primaria">Airbnb</span>
                        </div>

                        <div class="flex flex-row items-center gap-x-5">
                            <i class="fa-brands fa-instagram text-4xl text-cor-primaria"></i>
                            <i class="fa-brands fa-x-twitter text-4xl text-cor-primaria"></i>
                        </div>
                    </div>

                    <div class="w-full flex flex-row items-center justify-between py-6 border-t border-zinc-200">
                        <span class="text-base font-semibold text-cor-primaria">Banap. Todos os direitos reservados.</span>
                        <div class="flex flex-row items-center gap-x-3">
                            <p class="text-base font-semibold text-cor-primaria underline">Queremos seu feedback</p>
                            <i class="fa-solid fa-chevron-right text-base text-cor-primaria"></i>
                        </div>
                        <a href="#header" class="flex flex-row items-center gap-x-3 py-3 px-6 text-cor-primaria transition-all delay-100 duration-300 ease-in-out hover:bg-cor-primaria hover:text-cor-quartearia hover:rounded-lg">
                            <p class="text-base font-semibold">VOLTAR AO TOPO</p>
                            <i class="fa-solid fa-arrow-up text-base"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>