<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Airbnb - Faça já sua reserva!</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
</head>

<body>
    <div class="h-screen w-screen overflow-x-hidden bg-cor-quartearia">
        <header class="flex w-screen flex-row items-center justify-around py-10">
            <span>Logo</span>
            <nav>
                <ul class="flex flex-row gap-x-5">
                    <li class="text-base font-medium">Booking</li>
                    <li class="text-base font-medium">About us</li>
                    <li class="text-base font-medium">Location</li>
                    <li class="text-base font-medium">Contact</li>
                </ul>
            </nav>
            <span>Logo</span>
        </header>
        <main class="mb-[137px] h-screen w-screen">