<!doctype html>
<html lang="pt-br" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title id="tituloPagina">Smaug - Make your reservation now!</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
    <script
      src="https://kit.fontawesome.com/15abe5ed30.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico" />
  </head>

  <body>
    <div class="h-screen w-screen overflow-x-hidden bg-cor-quartearia">
      <header
        class="flex h-[80px] w-screen flex-row items-center justify-center"
        id="header"
      >
        <div
          class="flex h-full w-[1400px] flex-row items-center justify-between"
        >
          <div class="flex flex-row gap-x-5">
            <i class="fa-solid fa-dragon text-4xl text-cor-primaria"></i>
            <span class="text-4xl font-black text-cor-primaria">Smaug</span>
          </div>
          <nav>
            <ul class="flex flex-row gap-x-5">
              <li
                class="text-xl font-medium text-cor-primaria transition-all delay-100 duration-200 ease-in-out hover:scale-110 hover:text-cor-secundaria"
              >
                <a href="/#hoteis" id="hoteisNavHeader">Hotels</a>
              </li>
              <li
                class="text-xl font-medium text-cor-primaria transition-all delay-100 duration-200 ease-in-out hover:scale-110 hover:text-cor-secundaria"
              >
                <a href="/#services" id="servicosNavHeader">Services</a>
              </li>
              <li
                class="text-xl font-medium text-cor-primaria transition-all delay-100 duration-200 ease-in-out hover:scale-110 hover:text-cor-secundaria"
              >
                <a href="/#aboutus" id="sobrenosNavHeader">About us</a>
              </li>
              <li
                class="text-xl font-medium text-cor-primaria transition-all delay-100 duration-200 ease-in-out hover:scale-110 hover:text-cor-secundaria"
              >
                <a href="/#feedback">Feedback</a>
              </li>
            </ul>
          </nav>
          <div class="flex flex-row items-center gap-x-5">
            <div class="relative flex flex-col">
              <div
                id="menu-language"
                class="flex cursor-pointer flex-row items-center gap-x-2 rounded-md border border-zinc-200 bg-cor-quartearia px-3.5 py-2.5 shadow transition-colors delay-100 duration-100 ease-in-out hover:bg-cor-quartearia-variacao"
              >
                <img src="imgs/globo.svg" alt="Icone terra" />
                <i
                  class="fa-solid fa-chevron-down text-xs text-cor-primaria"
                ></i>
              </div>
              <div
                id="drop-down"
                class="absolute -left-[104px] top-14 z-10 hidden w-[180px] rounded-lg border border-zinc-200 opacity-0 shadow-md transition-opacity delay-100 duration-100 ease-in-out"
              >
                <div
                  id="opcaoIngles"
                  class="flex w-full items-center gap-x-2 rounded-t-lg bg-cor-quartearia px-3.5 py-2 text-sm font-medium text-cor-primaria transition-colors delay-100 duration-100 ease-in-out hover:bg-cor-quartearia-variacao"
                >
                  <img
                    src="imgs/usa.svg"
                    class="w-5"
                    alt="Icone bandeira u.s.a"
                  />
                  <span
                    class="text-sm font-medium text-cor-primaria"
                    id="linguagemIngles"
                    >English</span
                  >
                </div>
                <div
                  id="opcaoPortugues"
                  class="flex w-full items-center gap-x-2 rounded-b-lg bg-cor-quartearia px-3.5 py-2 text-sm font-medium text-cor-primaria transition-colors delay-100 duration-100 ease-in-out hover:bg-cor-quartearia-variacao"
                >
                  <img
                    src="imgs/brasil.svg"
                    class="w-5"
                    alt="Icone bandeira u.s.a"
                  />
                  <span
                    class="text-sm font-medium text-cor-primaria"
                    id="linguagemPortugues"
                    >Portuguese</span
                  >
                </div>
              </div>
            </div>
            <a
              class="flex flex-row items-center gap-x-3 px-6 py-3 text-cor-primaria transition-all delay-100 duration-300 ease-in-out hover:rounded-lg hover:bg-cor-primaria hover:text-cor-quartearia"
              href="/login"
            >
              <span class="text-2xl">
                <i class="fa-solid fa-right-to-bracket"></i>
              </span>
              <p class="text-base font-black" id="botaoHeaderEntrar">Login</p>
            </a>
          </div>
        </div>
      </header>
      <main class="mb-[120px] flex w-screen flex-col items-center">
