<%- include("./partials/header.ejs") %>

  <section class="mt-[120px] flex w-[1400px] flex-row">
    <div class="flex w-full flex-row flex-wrap justify-between gap-y-14">
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-01.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Miami Beach, Florida, USA</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Oceanview Resort
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">$200 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-02.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Paris, France</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Eiffel Tower View Hotel
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">€150 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-03.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Tokyo, Japan</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Sakura Gardens
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">¥20,000 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-04.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Rio de Janeiro, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Hotel Paraíso
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 350,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-05.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Gramado, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Pousada das Flores
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 200,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-06.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Porto de Galinhas, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Resort Maravilha
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 300,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-07.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">São Paulo, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Hotel Urbano
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 300,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-08.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Natal, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Pousada do Sol
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 250,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-09.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Foz do Iguaçu, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Hotel das Águas
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 400,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-10.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Campos do Jordão, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Pousada Tranquilidade
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 180,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-11.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Florianópolis, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Hotel Vista Bela
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 350,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[464px] w-[411px] rounded-2xl bg-zinc-100 shadow-lg">
        <div class="h-80 w-full overflow-hidden rounded-t-2xl">
          <a href="/reserva">
            <img src="imgs/hotel-12.png" class="transition delay-100 duration-300 ease-in-out hover:scale-110"
              alt="Imagem do hotel" />
          </a>
        </div>
        <div class="ml-4 mt-6 flex flex-col">
          <span class="mb-2 text-[12px] font-normal text-cor-verde">Búzios, Brasil</span>
          <h3 class="text-base font-semibold text-cor-primaria">
            Resort Encantado
          </h3>
          <div class="mt-6 flex flex-row items-center">
            <p class="text-xs font-medium text-cor-primaria">R$ 450,00 Per Night</p>
            <div class="mx-8 h-4 w-[1px] bg-zinc-400"></div>
            <div class="flex flex-row items-center gap-3">
              <img src="imgs/stars.svg" alt="Quantidade de estrelas do hotel" />
              <span class="text-xs font-normal text-cor-cinza">4.8</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/footer.ejs") %>