<%- include("./partials/header.ejs") %>

  <section class="mt-[120px] flex w-[1400px] flex-col gap-y-8">
    <div class="flex w-full flex-row justify-between">
      <div class="flex flex-col gap-y-2">
        <h1 class="text-4xl font-bold text-cor-primaria">
          Danubius Hotel Regents Park
        </h1>
        <p class="text-base font-medium text-cor-primaria">London</p>
      </div>
      <div class="flex flex-row items-center justify-start gap-x-2">
        <i class="fa-solid fa-share-from-square text-base text-cor-primaria"></i>
        <span class="text-base font-semibold text-cor-primaria">Share</span>
      </div>
    </div>

    <div class="flex w-full flex-row justify-between">
      <div class="h-[460px] w-[675px] overflow-hidden rounded-lg shadow-md">
        <img src="imgs/reserva-01.png" alt="Foto do Hotel para se alugar" />
      </div>

      <div class="flex h-[460px] w-[675px] flex-row flex-wrap gap-x-[25px] gap-y-5">
        <div class="h-[220px] w-[325px] overflow-hidden rounded-lg shadow-md">
          <img src="imgs/reserva-02.png" alt="Foto do Hotel para se alugar" />
        </div>
        <div class="h-[220px] w-[325px] overflow-hidden rounded-lg shadow-md">
          <img src="imgs/reserva-03.png" alt="Foto do Hotel para se alugar" />
        </div>
        <div class="h-[220px] w-[325px] overflow-hidden rounded-lg shadow-md">
          <img src="imgs/reserva-04.png" alt="Foto do Hotel para se alugar" />
        </div>
        <div class="h-[220px] w-[325px] overflow-hidden rounded-lg shadow-md">
          <img src="imgs/reserva-05.png" alt="Foto do Hotel para se alugar" />
        </div>
      </div>
    </div>
  </section>

  <section class="mt-9 flex w-[1400px] flex-row justify-between">
    <div class="flex w-[800px] flex-col gap-y-8">
      <div class="flex flex-col gap-y-2">
        <h2 class="text-2xl font-medium text-cor-primaria">
          Dome hosted <span class="font-semibold">by Dorothy</span>
        </h2>
        <div class="flex flex-row items-center gap-x-2">
          <span class="text-base font-normal text-cor-cinza">3 guests</span>
          <div class="h-1 w-1 rounded-full bg-cor-cinza"></div>

          <span class="text-base font-normal text-cor-cinza">1 bedroom</span>
          <div class="h-1 w-1 rounded-full bg-cor-cinza"></div>

          <span class="text-base font-normal text-cor-cinza">1 bed</span>
          <div class="h-1 w-1 rounded-full bg-cor-cinza"></div>

          <span class="text-base font-normal text-cor-cinza">1 bathroom</span>
        </div>
      </div>

      <hr />

      <div class="flex flex-col gap-y-6">
        <div class="flex flex-row gap-x-3">
          <i class="fa-solid fa-water-ladder text-2xl text-cor-primaria"></i>
          <div class="flex flex-col gap-y-1">
            <h3 class="text-base font-semibold text-cor-primaria">
              Dive right in
            </h3>
            <p class="text-sm font-normal text-cor-primaria">
              This is one of the few places in the area with a pool.
            </p>
          </div>
        </div>

        <div class="flex flex-row gap-x-3">
          <i class="fa-regular fa-star text-2xl text-cor-primaria"></i>
          <div class="flex flex-col gap-y-1">
            <h3 class="text-base font-semibold text-cor-primaria">
              Experienced host
            </h3>
            <p class="text-sm font-normal text-cor-primaria">
              Dorothy has 720 reviews for other places.
            </p>
          </div>
        </div>
      </div>

      <hr />

      <div class="flex flex-col gap-y-5">
        <h1 class="text-2xl font-semibold text-cor-primaria">
          Where you'll sleep
        </h1>
        <div
          class="flex h-32 w-48 flex-col gap-y-4 rounded-lg border border-zinc-200 bg-cor-quartearia transition delay-100 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-lg">
          <i class="fa-solid fa-bed ml-5 mt-5 text-2xl text-cor-primaria"></i>
          <div class="mb-5 ml-5 flex flex-col gap-y-1">
            <h3 class="text-sm font-semibold text-cor-primaria">Bedroom</h3>
            <p class="text-xs font-normal text-cor-primaria">1 double bed</p>
          </div>
        </div>
      </div>

      <hr />

      <div class="flex flex-col gap-y-10">
        <h1 class="text-2xl font-semibold text-cor-primaria">
          What this place offers
        </h1>
        <div class="flex flex-row gap-x-24">
          <div class="flex flex-col gap-y-5">
            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-wifi text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">Wifi</h3>
            </div>

            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-tv text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">Tv</h3>
            </div>

            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-dumbbell text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">
                Exercise Space
              </h3>
            </div>

            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-calendar ml-[5px] text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">
                long-term stays allowed
              </h3>
            </div>
          </div>

          <div class="flex flex-col gap-y-5">
            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-water-ladder text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">Pool</h3>
            </div>

            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-snowflake ml-1 text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">
                Air conditioning
              </h3>
            </div>

            <div class="flex flex-row items-center gap-x-4">
              <i class="fa-solid fa-mug-saucer text-2xl text-cor-primaria"></i>
              <h3 class="text-base font-semibold text-cor-primaria">Breakfast</h3>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="flex flex-col gap-y-6">
        <div class="flex flex-col gap-y-3">
          <div class="flex flex-row gap-x-5">
            <i class="fa-solid fa-dragon text-2xl text-cor-primaria"></i>
            <span class="text-2xl font-black text-cor-primaria">Smaug</span>
          </div>
          <p class="w-full text-justify text-base font-medium text-cor-primaria">
            Every booking includes free protection from Host cancellations,
            listing inaccuracies, and other issues like trouble checking in.
          </p>
        </div>
        <a class="text-base font-semibold text-cor-primaria underline transition-colors delay-100 duration-200 ease-in-out hover:text-cor-secundaria"
          href="#">Learn more</a>
      </div>
    </div>

    <div class="w-[424px]">
      <div class="flex h-[660px] w-full flex-col rounded-xl border border-zinc-200 bg-cor-quartearia p-6 shadow-xl">
        <h1 class="mb-7 text-2xl font-medium text-cor-primaria">
          <span class="font-bold">짜20,000</span> Par Night
        </h1>

        <form action="">
          <div class="w-[376px]">
            <div class="flex flex-col">
              <div class="flex flex-row">
                <div
                  class="flex h-[58px] w-[188px] flex-col gap-y-1 rounded-tl-lg border-2 border-zinc-300 bg-cor-quartearia py-2 pl-3">
                  <label for="checkin" class="text-xs font-semibold text-cor-primaria">Check-in</label>
                  <input type="date"
                    class="w-[164px] border-0 bg-cor-quartearia text-sm font-medium text-cor-primaria outline-none"
                    name="checkin" id="checkin" />
                </div>
                <div
                  class="flex h-[58px] w-[188px] flex-col gap-y-1 rounded-tr-lg border-b-2 border-r-2 border-t-2 border-zinc-300 bg-cor-quartearia py-2 pl-3">
                  <label for="checkout" class="text-xs font-semibold text-cor-primaria">Checkout</label>
                  <input type="date"
                    class="w-[164px] border-0 bg-cor-quartearia text-sm font-medium text-cor-primaria outline-none"
                    class="border" name="checkout" id="checkout" />
                </div>
              </div>
              <div
                class="flex h-[56px] w-full flex-col gap-y-1 rounded-b-lg border-b-2 border-l-2 border-r-2 border-zinc-300 bg-cor-quartearia py-2 pl-3">
                <label for="guests" class="text-xs font-semibold text-cor-primaria">Guests</label>
                <input type="number"
                  class="w-[352px] border-0 bg-cor-quartearia text-sm font-medium text-cor-primaria outline-none"
                  name="guests" id="guests" />
              </div>
            </div>
          </div>

          <h2 class="mb-3 mt-3 text-lg font-medium text-cor-primaria">
            cancellation policies
          </h2>

          <div class="w-[376px]">
            <form action="flex flex-col">
              <div
                class="flex h-[48px] w-full flex-row items-center justify-between rounded-t-lg border-l-2 border-r-2 border-t-2 border-zinc-300 bg-cor-quartearia p-3">
                <div class="flex flex-row items-center gap-x-2">
                  <span class="text-base font-normal text-cor-primaria">Non-refundable</span>
                  <div class="h-1 w-1 rounded-full bg-cor-cinza"></div>
                  <span class="text-base font-normal text-cor-primaria">짜200.000,00 total</span>
                </div>
                <input type="radio" name="cancellation-policies" value="nao" />
              </div>
              <div
                class="flex h-[90px] w-full flex-row items-center justify-between rounded-b-lg border-2 border-zinc-300 bg-cor-quartearia p-3">
                <div class="flex flex-col gap-y-1">
                  <div class="flex flex-row items-center gap-x-2">
                    <span class="text-base font-normal text-cor-primaria">Refundable</span>
                    <div class="h-1 w-1 rounded-full bg-cor-cinza"></div>
                    <span class="text-base font-normal text-cor-primaria">짜200.000,00 total</span>
                  </div>
                  <p class="text-sm font-normal text-cor-cinza">
                    Free cancellation before 22 Jun. Cancel before check-in on 23
                    Jun for a partial refund.
                  </p>
                </div>
                <input type="radio" name="cancellation-policies" value="sim" />
              </div>
            </form>
          </div>

          <button
            class="w-[376px] h-[56px] bg-cor-primaria border-none outline-none rounded-lg text-cor-quartearia font-bold text-lg mt-3 mb-3">
            Reserve
          </button>
        </form>

        <h3 class="text-base font-normal text-cor-primaria w-full text-center">You won't be charged yet</h3>

        <div class="flex flex-row gap-x-2 mt-9 mb-9">
          <h4 class="text-base font-medium text-cor-primaria underline">Show price details</h4>
          <i class="fa-solid fa-chevron-down text-xl text-cor-primaria"></i>
        </div>

        <hr />

        <div class="mt-5 flex flex-row items-center justify-between w-full">
          <h5 class="text-lg font-bold text-cor-primaria">Total before taxes</h5>
          <span class="text-base font-bold text-cor-primaria">짜200.000,00 total</span>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/footer.ejs") %>